body{
    margin: 0;
    padding : 0;
}
.container{
    height: 100vh;
    display: flex;
    background-color: #151b29;
}
button{
    margin: auto;
    padding: 1em 2em;
    font-size: 1em;
    border: 2px solid;
    background: none;
    color: #ffa260;
    transition: all 0.s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    cursor: pointer;
    transform: translateY(-5px);
}